header.flex {
  justify-content: space-between;
  padding: 0px 2.4rem;
  margin-top: 1.2rem;
}
header nav {
  background-color: var(--bgHeader);
  padding: 0.8rem 1.3rem;
  border-radius: 20px;
  box-shadow: 1px 1px 40px rgba(124, 102, 203, 0.386);
}

header ul.flex {
  gap: 30px;
}
header ul li a {
  color: var(--title);
  opacity: 0.9;
  font-size: 0.8rem;
  font-weight: 500;
}
header ul li a:hover {
  color: var(--blue);
  opacity: 1;
  font-size: 0.9rem;
  font-weight: 500;
}
header button {
  size: 1.2rem;
}
header button.icon-menu {
  display: none;
}
/* icons */
header .menu,
header .mode {
  border-radius: 50%;
  background-color: var(--bgHeader);
  height: 2rem;
  width: 2rem;
  justify-content: center;
  align-items: center;
  color: var(--subtitle);
  border: 1px solid rgba(244, 165, 96, 0.249);
  box-shadow: 1px 1px 40px rgba(124, 102, 203, 0.386);
}
header .menu:hover,
header .mode:hover {
  color: var(--title);
  border: 1px solid rgb(244, 165, 96);
  transition: 0.3s;
}
header .icon-weather-sunny {
  color: darkorange;
}
header .icon-close {
  font-size: 1.1rem;
  color: var(--subtitle);
  transition: 0.2s;
}
header .icon-close:hover {
  font-size: 1.3rem;
  color: crimson;
  rotate: 180deg;
}
/* Modal */
header .fixed {
  position: fixed;
  inset: 0;
  z-index: 11;
  background-color: rgb(40, 40, 48, 0.91);
  backdrop-filter: blur(2px);
}
@keyframes mymove {
  0% {
    scale: 0;
  }
  60% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
header .fixed ul.modal {
  animation: mymove 0.7s 1;
  width: 85%;
  margin: 2rem auto 0px auto;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--secondary);
}
header .fixed ul.modal li {
  padding-top: 0.5rem;
  padding-bottom: 0.77rem;
  border-bottom: 1px solid var(--border);
}
header .fixed ul.modal li:last-child {
  border: none;
}
header .fixed ul.modal li:first-child {
  text-align: end;
  border: none;
  padding-top: 0.2rem;
  padding-bottom: 0;
}
header .fixed ul.modal li a {
  font-size: 1rem;
}

@media (max-width: 600px) {
  header.flex nav {
    display: none;
  }
  header button.menu {
    display: flex;
  }
}
